body{
    font-family: 'Radio Canada', sans-serif;
}
h3{
    font-size: 1 rem;
    font-family: 'Alatsi', sans-serif;
}
h2{
    font-size: 2rem;
    font-family: 'Alatsi', sans-serif;

}
h1 {
    font-family: 'Homemade Apple', cursive;
}

